@use "globals" as *;

footer {
  text-align: center;
  font-size: $size-footer;
  padding: $padd-footer;
  color: $negro;

  @include respond-to("small") {
    font-size: $size-footer-r;
    margin-top: $margintop60;
  }

}