@use "sass:map";
//@use "_variable.scss";

@mixin respond-to($breakpoint) {
    $breakpoints: (
      "small": "max-width: 768px",
    );

    $query: map.get($breakpoints, $breakpoint);

    @if $query {
      @media (#{$query}) {
        @content;
      }

    } @else {
        @error "No se encontró el breakpoint #{$breakpoint}.";
    }
}

@mixin flex-center($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
} 
  
@mixin responsive-font($size-mobile, $size-desktop) {
    font-size: $size-mobile;
  
    @media (min-width: 768px) {
      font-size: $size-desktop;
    }
}
  
@mixin button($color, $bg-color) {
    color: $color;
    background-color: $bg-color;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
  
    &:hover {
      background-color: darken($bg-color, 10%);
      cursor: pointer;
    }
}

@mixin hero($color){
    width: 100%;
    height: 100vh;
    background-color: $color;
}
