@use "globals" as *;

#about {
  height: 100vh;
  width: 100%;

  .portada {
    @include flex-center(row, space-between, center);
    width: $portada-width;
    margin: 0 auto;
    padding: $padd-top-portada;

    #sobre {
      font-size: $font-size-title;
    }

    .buttonup {
      text-decoration: none;
      color: $negro;
      font-size: $size-button;
      text-transform: lowercase;
      position: relative;
      display: inline-block;
      padding-bottom: $padd-bottom-link;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0%;
        height: $height2p;
        background-color: $negro;
        transition: $transition1;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }

  .contenedor {
    width: $card-container-width;
    height: $height-80;
    margin: 0 auto;

    .print {
      @include flex-center(row, space-between, center);
      flex-direction: column;
      height: $height-70;

      .title {
        text-align: center;
        font-size: $font-size-title;
      }

      .subtitle {
        font-size: $font-size-subtitle;
        margin-top: $margintop20;
      }

      .card-container {
        @include flex-center(row, space-between, start);

        .card1,
        .card2,
        .card3 {
          width: $card-width;
          font-size: $size-card-text;
          padding-bottom: $padd-cardbot;
          padding-right: $padd-card;
          border-bottom: $borde-card;
          border-right: $borde-card;
        }
      }
    }
  }

  @include respond-to("small") {
    height: 100%;
    .portada {
      @include flex-center(row, center, center);
      padding: $padd-top-portada-r;

      #sobre {
        font-size: $size-40;
      }
      .buttonup{
        display: none;
      }
    }
    .contenedor{
      .print{
        text-align: center;
        .title{
          font-size: $size-40;
        }
        .subtitle{
          font-size: $size-20;
        }
        .card-container{
          @include flex-center(row, center, center);
          flex-direction: column;
          .card1,
          .card2,
          .card3 {
            margin-top: $margintop50;
            width: 100%;
            font-size: $size-15;
            padding-bottom: $padd-cardbot;
            padding-right: $padd-cardbot;
            border-bottom: $border-color;
            border-right: $border-color;
          }
        }
      }
    }
  }
}