@use "globals" as *;

#skill {
  display: none;
  height: 100vh;
  width: 100%;

  .portada {
    @include flex-center(row, center, center);
    width: $portada-width;
    margin: 0 auto;
    padding: $padd-top-portada-r;

    #hab {
      font-size: $size-40;
    }

  }

  .centrado{
    margin-top: $margintop30;
    width: 100%;
    text-align: center;
    text-transform: lowercase;

    p{
      margin-top: $margintop20;
    }
  }

  @include respond-to("small"){
    display: block;
  }
}
