@use "globals" as *;

#proyect {
  height: 100vh;
  width: 100%;

  .portada {
    @include flex-center(row, space-between, center);
    width: $portada-width;
    margin: 0 auto;
    padding: $padd-top-portada;

    #proy {
      font-size: $size-title;
    }

    .buttonup {
      text-decoration: none;
      color: $negro;
      font-size: $size-button;
      text-transform: lowercase;
      position: relative;
      display: inline-block;
      padding-bottom: $padd-bottom-link;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0%;
        height: $height2p;
        background-color:$negro;
        transition: $transition1;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }

  a{
    text-decoration: none;
  }

  .container{
    width: $card-container-width;
    margin: 0 auto;
    margin-top: $margintop60;
    text-transform: lowercase;

    .title{
      text-align: center;
      margin-bottom: $margintop50;
      font-size: $size-20;
    }

    .container-card{
      @include flex-center(flex, space-between, center);
      .card {
        height: 100%;
      
        .card-img-top {
          border-top-left-radius: $border-radius;
          border-top-right-radius: $border-radius;
          width: $card-img-width;
        }
      
        .card-title {
          font-size: $size-card-title;
          text-align: center;
          margin-top: $margintop20;
          font-weight: bold;
          color: $negro;
        }
      
        .card-text {
          color: $negro;
          font-size: $size-card-text;
          text-align: center;
          margin-top: $margintop20;
        }
      }
    }
    
  }

  @include respond-to("small"){
    height: 100%;
    .portada {
      @include flex-center(row, center, center);
      padding: $padd-top-portada-r;

      #proy {
        font-size: $size-40;
      }
      .buttonup{
        display: none;
      }
    }
    .container{
      @include flex-center(row, center, center);
      flex-direction: column;

      .container-card{
        @include flex-center(flex, center, center);
        flex-direction: column;

        .card{
          margin-top: $margintop60;
          .card-img-top{
            width: $responsive-card-img-width;
          }
        }
      }
      
    }
  }

}
