@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600&display=swap");

/* Colors */
$blanco: #ffffff;
$gris: #aaaaaa;
$negro: #000000;
$primario: #880000;
$secundario: #aeeeee;

/* Typography - Line Heights */
$line-height-text-b: 1.5rem;
$line-height-text-a: 1.875rem;
$line-height-h3: 3rem;
$line-height-h2: 3rem;
$line-height-h1: 4.5rem;

/* Typography - Font Sizes */
$size-text-b: 1rem;
$size-text-a: 1.25rem;
$size-h3: 1.625rem;
$size-h2: 2.625rem;
$size-h1: 4.25rem;

/* Typography - Font Families and Weights */
$family-source-code-pro: "Source Code Pro", monospace;
$weight-regular: Regular;
$weight-semi-bold: Semibold;

$border-radius1: 1rem;

$padd-1: 0.75rem;
$padd-2: 2rem;
$padd-top4: 3.5rem;
$padd-y2: 1.5rem 0;
$padd-y3: 2.5rem 0;

$margin-1rem: 1rem;
$margin-15rem: 1.5rem;
$margin-r2: 2rem;
$margin-b10: 10rem;

$icons: 30px;
